body {
    margin: 0;
    padding: 0;
    background-color: #4ad494;
    font-family: sans-serif;
    border: 1em solid #000000;
}

/* 
.play {
    width: fit-content;
    margin: 0 auto;
    padding: 12px;
    border: 2px solid #323232;
    border-radius: 50%;
}

.play div {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #323232;
    height: 0px;
    width: fit-content;
    margin: 0 auto;
} */

.p5Canvas {
/* border-style:solid;
border-width:5px; */
}


.btnText {
  text-align: center;
}
/* .play div {

    border: 20px solid #007aff;
    height: 0px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

   .play div:hover {
    height: 0px;
    width: fit-content;
    border: 20px  solid #ffffff;
    margin: 0 auto;
} */

.heading {
    text-align: center;
    margin-top: 5rem;
}

#pattern-container {
    margin-top: 3rem;
    width: fit-content;
    border-radius: px;
    margin: 20 auto;
}

.pattern-group {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 6px;
}

.pattern-group.seed {
    background-color: rgba(255, 255, 255, 0.2);



}

.pattern.active {
    background-color: #1000ee;
}

.pattern {
    height: 4px;
    width: 16px;
    display: block;
    margin: 20px 0px;
    padding: 2px;
    border-radius: 2px;
    color: transparent;
    background-color: rgba(255, 255, 255, 0.5);
}


/* ------ */
a {
    text-decoration: none;
    font-weight: 500;
}

.footnote {
    position: fixed;
    background-color: rgb(78, 0, 223);
    border-radius: 100px;
    height: 36px;
    width: 36px;
    bottom: 30px;
    left: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    z-index: 1000;
    color: #ffffff;
}

.details-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.details-title strong {
    font-weight: bolder;
}

.details-subtitle {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
    font-weight: 500;
    font-size: 1rem;
    color: #6c757d !important;
}

.footnote .details-body {
    background-color: #fff;
    background-clip: border-box;
    border: 4px solid rgba(0, 0, 0, 1);
    border-radius: 0px;
    padding: 1.25rem;
}


.footnote .info-container .details {
    position: fixed;
    bottom: 30px;
}

.footnote .info-container .details {
    display: none;
}

.footnote .info-container:hover .details {
    display: block;
}

.footnote .info-container .details:hover {
    display: block;
}

.animate-fadeIn {
    animation: fadein 0.7s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.audioBox {
    margin: 12px;
}
.tagName {
    font-size: 13px;
    padding: 2px;
    float: top;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 20px;
    font-weight: 700;
}

.canvas {
    display: inline-block;

}

#dashboard1 {
    float: left;
    margin-left: 0px; 
    height: 360px;  
    width: 350px;
    /* border-style:solid;
    border-width:5px; */
}

#dashboard2 {
    float: left;    
    margin-left: 60px;
    height: 360px;
    width: 420px;
    /* border-style:solid; */
    /* border-width:5px; */
}

#dashboard3 {
    float: left;
    height: 400px;
    width: 540px;
    outline: 3px solid rgba(0, 0, 0, 1);

}
#dashboard4 {
    display: inline-block;
    margin-left: 0px;
    margin-top: 0%;
    height: 40px;
    width: 100%;
    border-style: solid;
    outline: 3px solid rgba(0, 0, 0, 1);
    margin-left: -2px;

}

.dashboard4_ctl1 {
    float: left;
    margin-left: 20px;
}

.dashboard4_ctl2 {
    float: left;
    margin-left: 60px;
}

.dashboard4_ctl3 {
    float: right;
    margin-right: 40px;
}

.dashboard4_ctl4 {
    float: right;
    margin-right: 40px;
}

#ranArrayLength {
    display: inline-flex;
    text-align:center;
    line-height:100px;
}
#ranArrayMax {
    display: inline-flex;
    text-align:center;
    line-height:100px;
}
#ranArrayMin {
    display: inline-flex;
    text-align:center;
    line-height:100px;
}


input[type=checkbox] {
    position: relative;
      cursor: pointer;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 2px;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}




input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: #ffffff;
    border-radius: 100px;
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 0px solid #000000;
    height: 12px;
    width: 12px;
    border-radius: 2px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: #ffffff;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #ffffff;
    border: 0px solid #000101;
    border-radius: 50px;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 0px solid #000101;
    border-radius: 50px;
  }
  input[type=range]::-ms-thumb {
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
  }

  .text1 {
    text-align:center;
    line-height:40px;
    font-weight: 700;
  }
  #ranCtrl {
      margin-top: 62px;
  }



  a {
    text-decoration: none;
    display: inline-block;
  }
  
  .btn {
    height: 50px;
    width: 200px;
    line-height: 50px;
    text-align: center;
    position: relative;
    /* position: absolute;*/
    left: 50%;
    top: 10%;
    margin-top: 30%;
    transform: translate(-50%, -50%);
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }
  
  .text-none {
    padding: 0 50px;
    visibility: hidden;
  }
  
  .flip-front, 
  .flip-back {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transform-style: flat;
      transform-style: flat;
      -webkit-transition: -webkit-transform .3s ease-out;
      -o-transition: -o-transform .3s ease-out;
      transition: transform .3s ease-out;
  }
  
  .flip-front {
      color: #313131;
      border: 2px solid #313131;
      background-color: transparent;
      -webkit-transform: rotateX(0deg) translateZ(25px);
      -ms-transform: rotateX(0deg) translateZ(25px);
      -o-transform: rotateX(0deg) translateZ(25px);
      transform: rotateX(0deg) translateZ(25px);
  }
  
  .flip-back {
    color: #fff;
    background-color: #313131;
    border: 2px solid #313131;
    -webkit-transform: rotateX(90deg) translateZ(25px);
    -ms-transform: rotateX(90deg) translateZ(25px);
    -o-transform: rotateX(90deg) translateZ(25px);
    transform: rotateX(90deg) translateZ(25px);
  }
  
  .btn:hover .flip-front {
      -webkit-transform: rotateX(-90deg) translateZ(25px);
      -ms-transform: rotateX(-90deg) translateZ(25px);
      -o-transform: rotateX(-90deg) translateZ(25px);
      transform: rotateX(-90deg) translateZ(25px);
  }
  
  .btn:hover .flip-back {
      -webkit-transform: rotateX(0deg) translateZ(25px);
      -ms-transform: rotateX(0deg) translateZ(25px);
      -o-transform: rotateX(0deg) translateZ(25px);
      transform: rotateX(0deg) translateZ(25px);
  }
  

  .play:hover {
    background-color: #1000ee;
    color: white;
}
.dashboard4_ctl3 {
    background-color: #003fff; /* Green */
    border: 0px solid #000000;
    color: white;
    padding: 11px 32px;
    margin-right: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


.dashboard4_ctl4 {
    background-color: #ffbb00; /* Green */
    border: 0px solid #000000;
    color: white;
    padding: 11px 24px;
    margin-right: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.dashboard4_ctl4:hover {
    background-color: #ff8800;
    color: white;
}

.tag-group {
    text-align: right;
    position: relative;
    margin-left: -70px;
    margin-top: 25px;
}
.extra-line {
    float: right;
    width: 4px;
    height: 44px;
    background-color: #000000;
    right: 0px;
    display: inline-block;
}